<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>ToDoList | Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <br>
        <h1>Save ToDoList</h1>
        <hr>

        <form action="#" th:action="@{/saveTDL}" th:object="${TDL}" method="POST">
        	<label class="col-form-label"><h5>Employee in Charge: </h5></label>
            <select th:field="*{empId}" class="form-control mb-4 col-4">
            	<option th:each="Emp : ${Emp}" th:value="${Emp.id}" th:text="${Emp.name}"></option>
            </select>
            
            <input type="text" th:field="*{task}" placeholder="Task" class="form-control mb-4 col-4" required>
            
            <textarea rows="10" th:field="*{description}" placeholder="Task description" class="form-control mb-4 col-4"></textarea>
            
            <label class="col-form-label"><h5>Task Status: </h5></label>
            <select th:field="*{status}" class="form-control mb-4 col-4">
            	<option th:each="Status : ${T(com.employee.springboot.model.TaskStatusEnum).values()}" 
            	th:value="${Status}" th:text="${Status}"></option>
            </select>
            
            <button type="submit" class="btn btn-info col-2"> Save </button>
        </form>

        <hr>

        <a th:href="@{/tdl}"> Back to To Do List</a>
    </div>
    <script  src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
</body>

</html>