<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>EmployeeManagementSystem | Update</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <br>
        <h1>Update Employee</h1>
        <hr>

        <form action="#" th:action="@{/saveEmp}" th:object="${employee}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4" required>

            <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" required>

            <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4" required>
            
            <label class="col-form-label"><h5>Employee's Position: </h5></label>
            <select th:field="*{position}" class="form-control mb-4 col-4">
            	<option th:each="Position : ${T(com.employee.springboot.model.EmpPositionEnum).values()}"
            	th:value="${Position}" th:text="${Position}"></option>
            </select>
            
            <label><h5>Employee's Status </h5></label>
            <select th:field="*{status}" class="form-control mb-4 col-4">
            	<option th:each="Status : ${T(com.employee.springboot.model.EmpStatusEnum).values()}"
            	th:value="${Status}" th:text="${Status}"></option>
            </select>

            <button type="submit" class="btn btn-info col-2"> Update </button>
        </form>

        <hr>

        <a th:href="@{/emp}"> Back to Employees List</a>
    </div>
    <script  src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
</body>

</html>